.app-container {
  height: calc(100vh - 64px);
}

.app-container > mat-sidenav {
  width: 48px;
}

.app-container > mat-sidenav a {
  text-align: center;
}

.app-content {
  padding: 4px 8px;
}

.navbar-fill {
  flex: 1 1 auto;
}
